.sideBar-warapper {
    height: calc(100vh - 60px);
    width: 200px;
    margin-left: 10%;
}

.note-btns {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newNote {
    margin: 0 auto;
    height: 40px;
    width: 150px;
    background-color: black;
    color: #f6f6f6;
    font-size: large;
    border-radius: 10px;
}