.notes-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.left {
    width: 300px;
}

.right {
    gap: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 80vh;
}